<div class='center-container row'>
    <div class='center-container col'>
        <div class='center-container row'>
            <div>
                <%= image_tag 'logo' %>
                <%= link_to 'PLAY', new_room_path, class: 'play-button' %>
            </div>
            <div><%= render 'user_window' %></div>
        </div>
        <div><%= render 'info' %></div>
    </div>
    <div><%= render 'shop' %></div>
</div>
