<div class='hidden' id='assets-cards'>
    <%= image_tag 'cards/0.svg', id: '0' %>
    <%= image_tag 'cards/1.svg', id: '1' %>
    <%= image_tag 'cards/2.svg', id: '2' %>
    <%= image_tag 'cards/3.svg', id: '3' %>
    <%= image_tag 'cards/4.svg', id: '4' %>
    <%= image_tag 'cards/5.svg', id: '5' %>
    <%= image_tag 'cards/6.svg', id: '6' %>
    <%= image_tag 'cards/7.svg', id: '7' %>
    <%= image_tag 'cards/8.svg', id: '8' %>
    <%= image_tag 'cards/9.svg', id: '9' %>
    <%= image_tag 'cards/direction.svg', id: 'direction' %>
    <%= image_tag 'cards/skip.svg', id: 'skip' %>
    <%= image_tag 'cards/+2.svg', id: '+2' %>
    
    <%= image_tag 'cards/+4.svg', id: '+4' %>
    <%= image_tag 'cards/color_change.svg', id: 'color_change' %>

    <%= image_tag 'cards/back.svg', id: 'back' %>
    <%= image_tag 'cards/empty.svg', id: 'empty' %>
</div>
