<div class='form-page <% if @room.game_start? %>hidden<% end %>' id='room-form'
data-room-id='<%= @room.id %>' data-user-name='<%= @player.nickname %>' data-user-num='<%= @player.room_player.player_num %>' data-avatar='<%= @player.avatar.url %>'
<%= 'data-admin' if @player.room_player.is_admin %>/>
    <div class='form-background'><div class='room-container'>
        <div id='players'>
            <% @room_players.each do | player | %><%= render 'player', player: player %><% end %>
        </div>
        <button id='hidden-button' onclick='showBlock()'>Show game settings</button>
        <div>
            <div class='room-info'>
                <div id='code' data-link='<%= 'link' %>'><div class='back'><%= @room.code %></div></div>  
                <button class='setting-button-block' onclick='codeHideOrShow()'>
                    <div class='setting-button' id='hide-code'></div>
                    <div class='setting-button hidden' id='show-code'></div>
                    <p class='hide'>Hide room code</p>
                    <p class='show hidden'>Show room code</p>
                </button>
                <button class='setting-button-block' onclick='copyCode()'>
                    <div class='setting-button' id='copy-code'></div>
                    <p>Copy room code</p>
                </button>
                <button class='setting-button-block' onclick='copyLink()'>
                    <div class='setting-button' id='copy-link'></div>
                    <p>Copy link to room</p>
                </button>
            </div>
            <%= javascript_include_tag "copy_text", 'data-turbo-track': 'reload' %>
            <%= javascript_include_tag "hide_or_show_code", 'data-turbo-track': 'reload' %>
            
            <%= render 'game_settings' %>
            <div class='room-info'>
                <%= button_to new_room_path, method: :get, class: 'dangerous-button' do %>
                    LEAVE ROOM
                <% end %>
                <button id='start-game' class='play-button<% if !@player.room_player.is_admin? %> admin-hidden<% end %>'>START</button>
            </div>
        </div>
    </div></div><%= javascript_include_tag "transition_blocks", 'data-turbo-track': 'reload' %>
</div>

<%= render 'desk' %>
<%= render 'textures' %>

<script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
<%= javascript_include_tag "UI", 'data-turbo-track': 'reload' %>
<%= javascript_include_tag "game_draw", 'data-turbo-track': 'reload' %>
<%= javascript_include_tag "room_socket", 'data-turbo-track': 'reload' %>
<%= javascript_include_tag "play_socket", 'data-turbo-track': 'reload' %>
<%= javascript_include_tag "player_socket", 'data-turbo-track': 'reload' %>
